@{
    ViewBag.Title = "";
}

<div>
    <ul class="rslides">
        <li>
            <img src="~/Content/images/heroBanner/IMG1.jpg" />
        </li>
        <li>
            <img src="~/Content/images/heroBanner/IMG2.jpg" />
        </li>
        <li>
            <img src="~/Content/images/heroBanner/IMG3.jpg" />
        </li>
        <li>
            <img src="~/Content/images/heroBanner/IMG4.jpg" />
        </li>
    </ul>
</div>
<div class="container-fluid containerlinkOptionsWrapper spacer-top">
    <div class="container">
        <h1 class="contentH1-main2">
            <span class="glyphicon glyphicon-info-sign blueColour f30 centeralign"></span>&nbsp;&nbsp;
            LEARN MORE ABOUT NORTH AMERICAN TRADE SCHOOLS:
        </h1>
        <hr class="hrpblue" />


        <div class="linkOptionsWrapper">
            <div class="linkOptions allPrograms visible-sm visible-xs linkOptionsRC" id="allPrograms">
                <i class="fa fa-search goldColour"></i>
                <label class="contentH3-white">FIND PROGRAMS</label>
            </div>
            <div class="linkOptions linkOptionsRC home col-md-3" id="requestCatalogue">
                <i class="fa fa-book blueColour"></i>
                <label class="contentH3-red">REQUEST CATALOGUE</label>
            </div>
            <div class="linkOptions linkOptionsAQ home col-md-3" id="askQuestion">
                <i class="fa fa-comment blueColour"></i>
                <label class="contentH3-red">ASK A QUESTION</label>
            </div>
            <div class="linkOptions linkOptionsTC home col-md-3" id="tourCampus">
                <i class="fa fa-home blueColour"></i>
                <label class="contentH3-red">TOUR A CAMPUS</label>
            </div>
            <div class="linkOptions linkOptionsAN home col-md-3" id="apply">
                <i class="fa fa-bookmark blueColour"></i>
                <label class="contentH3-red">APPLY NOW</label>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container-fluid containervideoItem">
    <div class="container">
        <div>
            <h3 class="contentH1-mainW">
                <span class="glyphicon glyphicon-user goldColour"></span>&nbsp;
                WHAT SETS OUR EDUCATION APART: STUDENT EXPERIENCE
                <hr class="hrp" />
            </h3>
            <p class="contentp-light">
                As a student of North American Trade Schools, you will not only receive an education but an entire student experience.
                Our foundational approach to education provides students with not only technical knowledge but also hands-on experience.
                North American Trade Schools students receive class instruction with extensive lab work to simulate real world experience.
                Students are learning from Instructors hold professional designations in their field in additional to many years of experience in their field. 
            </p>
        </div>

        <div class="videoWrapper">
            <div class="col-md-6 wrapper">
                <div class="videoItem1">
                    <div>
                        <h3 class="contentH3-white">
                            STUDENT REVIEWS
                            <span class="pull-right">
                                <i class="fa fa-caret-left videoScrollerNav prev"></i>
                                <i class="fa fa-caret-right videoScrollerNav next"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/ejiRyycN0LQ?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/Jbg_4OWd8l0?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/-j2h4QvSOGw?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/EfmtavHgPeE?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/Rq4fy32-qzs?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wrapper">
                <div class="videoItem2">
                    <div>
                        <h3 class="contentH3-white">
                            NATS VIDEOS
                            <span class="pull-right">
                                <i class="fa fa-caret-left videoScrollerNav prev"></i>
                                <i class="fa fa-caret-right videoScrollerNav next"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/1QVGJoGEdDQ?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/xsE0nvHUmnM?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/euIFX2WxBj4?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/1DxUw0oqp6I?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="graduatesHiredWrapper">
        <h1 class="contentH1-main2">
            <span class="glyphicon glyphicon-wrench blueGoldBorder f30 centeralign"></span>&nbsp;&nbsp;
            GRADUATES FROM NORTH AMERICAN TRADE SCHOOLS HAVE BEEN HIRED AT:
        </h1>
        <hr class="hrpblue" />
        <p class="contentp">
            North American Trade School graduates are well trained individuals who have had a well-rounded educational experience.
            During the entire education process, North American Trade School students students are in a simulated work environment.
            Students are held up to the same standards as professional employees in terms of punctuality, attendance and accountability.
            This enables a seemless transition to the workforce. Below are a number of companies that have hired a number of recent graduates.
        </p>


<br />
        <ul id="graduatesImageScroller">
            <li><img src="~/Content/images/graduates/canadiansolar.jpg" alt="Canadian Solar Logo" /></li>
            <li><img src="~/Content/images/graduates/ccr.jpg" alt="Creative Renovations Logo" /></li>
            <li><img src="~/Content/images/graduates/crestview.jpg" alt="Crestview Logo" /></li>
            <li><img src="~/Content/images/graduates/csiwind.jpg" alt="CSI Wind Logo" /></li>
            <li><img src="~/Content/images/graduates/csi.jpg" alt="CSI Sertapak Logo" /></li>
            <li><img src="~/Content/images/graduates/dagwood.jpg" alt="Dagwood Logo" /></li>
            <li><img src="~/Content/images/graduates/dynamickitchens.jpg" alt="Dynamic Kitchens Logo" /></li>
            <li><img src="~/Content/images/graduates/energydevelopments.jpg" alt="Energy Developments Logo" /></li>
            <li><img src="~/Content/images/graduates/imt.jpg" alt="IMT Logo" /></li>
            <li><img src="~/Content/images/graduates/kml.jpg" alt="KML Logo" /></li>
            <li><img src="~/Content/images/graduates/mmelectric.jpg" alt="M&M Electric Logo" /></li>
            <li><img src="~/Content/images/graduates/mudges.jpg" alt="Mudges Logo" /></li>
            <li><img src="~/Content/images/graduates/ontariosolar.jpg" alt="Ontario Solar Logo" /></li>
            <li><img src="~/Content/images/graduates/reliance.jpg" alt="Reliance Logo" /></li>
            <li><img src="~/Content/images/graduates/silentaire.jpg" alt="Silent Aire Logo" /></li>
            <li><img src="~/Content/images/graduates/skyjack.jpg" alt="Skyjack logo" /></li>
            <li><img src="~/Content/images/graduates/superiorpropane.jpg" alt="Superior Propane Logo" /></li>
            <li><img src="~/Content/images/graduates/taylorsheating.jpg" alt="Taylor Heating Logo" /></li>
            <li><img src="~/Content/images/graduates/tigercat.jpg" alt="Tigercat Logo" /></li>
            <li><img src="~/Content/images/graduates/titan.jpg" alt="Titan Logo" /></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container-fluid body-content">
    <div class="contactUsWrapper">
        <div class="container">

            <span class="pull-right contentH1whitemain">@Html.ActionLink("CLICK HERE TO HIRE A GRADUATE", "HireAMedixGrad", "Home")</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="container">
    <div class="socialWrapper">
        <div class="col-md-4 facebook">
            <h2 class="contentH2-white-bluebg contentH3-white"><span class="socicon f30 goldColour">b</span>&nbsp;FACEBOOK <a href="#" id="facebook" class="socialMobileLink"><span class="glyphicon glyphicon-align-justify pull-right visible-xs"></span></a></h2>
            <div class="mobile-content facebook hidden-xs">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FNATSLondon&amp;width&amp;height=450&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=255262464670895" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height: 400px; width: 100%" allowtransparency="true"></iframe>
            </div>
        </div>

        <div class="insidetwitter">
            <div class="col-md-4 twitter">
                <h2 class="contentH2-white-bluebg contentH3-white"><span class="socicon f30 goldColour">a</span>&nbsp;&nbsp;NATS HIRES <a href="#" id="twitter" class="socialMobileLink"><span class="glyphicon glyphicon-align-justify pull-right visible-xs"></span></a></h2>
                <div class="mobile-content twitter hidden-xs">
                    <a class="twitter-timeline" href="https://twitter.com/nats_hired" data-widget-id="606109159906529281">Tweets by nats_hired</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>

        <div class="col-md-4 newsUpdates">
            <h2 class="contentH2-white-bluebg contentH3-white"><span class="socicon f30 goldColour">,</span>&nbsp;&nbsp;NEWS UPDATES<a href="#" id="newsUpdates" class="socialMobileLink"> <span class="glyphicon glyphicon-align-justify pull-right visible-xs"></span></a></h2>
            <div class="mobile-content newsUpdates hidden-xs">
                <ul class="list-unstyled newsList">
                    @foreach (MedixCollege.Models.NewsArticleDTO article in ViewBag.NewsArticles)
                    {
                        <li class="newsListItem contentp whiteBG-GrayStroke" id="@article.Id">
                            <div class="contentH3-blue"><span class="glyphicon glyphicon-comment spacer-right mBlueColour f20 goldOuterGlow "></span> @article.Title</div>
                            <div class="date">@article.Date.ToString("MMMM d, yyyy")</div>

                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div class="pull-right link-unstyled">
                @Html.ActionLink("More News", "NewsDirectory", "Home")
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>





<div class="container-fluid">
    <div class="ProgramsHero">
        <div class="container">

            <span class="contentH1-mainW">
                <span class="glyphicon glyphicon-map-marker goldColour f30"></span>&nbsp;
                OUR CAMPUSES
            </span><hr class="hrp" />
            <p class="contentH3-white">
                North American Trade Schools has two campuses across Ontario with each of them featuring state-of-the-art facilities. Each campus has full-scale labs where students will receive hands on experience working with the latest technologies. 
            </p>
            <br />

            <div class="container">

                <div class="col-md-6 contentH1-whiteCAMPUS">
                    <hr class="hrp visible-xs">
                    <span class="glyphicon glyphicon-map-marker goldColour"></span>&nbsp;
                    @Html.ActionLink("BRAMPTON", "Brampton", "Campuses")
                    <hr class="hrp">
                    <div class="col-md-6 contentH1-whiteCAMPUS">

                        <p class="contentH4-white">
                            499 Main St S Unit 60<br />
                            Brampton, Ontario<br />
                            L6Y 1N7<br />
                            Toll Free: 1-866-962-7685<br />
                            Fax: (905) 487-1162<br />
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contentH4-dark lightBG">
                            Students from Mississauga, Toronto, Orangeville, Milton, Hamilton, Burlington, Vaughn, Kitchener, Guelph, Cambridge, North York have attended the Brampton campus.
                        </p>

                    </div>
                </div>

                <div class="col-md-6 contentH1-whiteCAMPUS">
                    <hr class="hrp visible-xs">
                    <span class="glyphicon glyphicon-map-marker goldColour"></span>&nbsp;
                    @Html.ActionLink("LONDON", "London", "Campuses")
                    <hr class="hrp">
                    <div class="col-md-6 contentH1-whiteCAMPUS">

                        <p class="contentH4-white">
                        <p class="contentH4-white">
                            847 Highbury Ave N. Bldg. 4<br />
                            London, ON<br />
                            N5Y 5B8<br />
                            (519) 963-0680<br />
                        </p>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="contentH4-dark lightBG">
                            Students from Woodstock, Stratford, Thamesford, Ingersoll, St. Thomas, Lucan, Strathroy, Kitchener, Guelph, Cambridge, Brantford have attended the London campus.
                        </p>

                    </div>
                </div>







                </div>


        </div>
    </div>
</div>


<div class="container-fluid divpadding">
    <div class="container">

        <h1 class="contentH1-main2"><span class="glyphicon glyphicon-search blueGoldBorder f30 centeralign"></span>&nbsp;&nbsp;CAREER SERVICES AT NORTH AMERICAN TRADE SCHOOLS</h1>
        <hr class="hrpblue">

        <p class="contentp">
            Employment counselling and job search training is provided for all students during their program by scheduled classroom lectures and ongoing individualized counselling. The school remains a permanent source of employment search assistance for all graduates. The placement department prepares each student to:
            <br /><br />

            <div class="col-md-12">
                <div class="col-md-2 centeralign"><span class="glyphicon glyphicon-pencil blueGoldBorder f30"></span><hr class="hrp">Create cover letter, resume and other effective portfolio material.</div><br class="visible-xs" />
                <div class="col-md-2 centeralign"><span class="glyphicon glyphicon-search blueGoldBorder f30"></span><hr class="hrp">Conduct an employment interview including proper follow-up activities.</div><br class="visible-xs" />
                <div class="col-md-2 centeralign"><span class="glyphicon glyphicon-signal blueGoldBorder f30"></span><hr class="hrp">Analyze employment opportunities and market trends.</div><br class="visible-xs" />
                <div class="col-md-2 centeralign"><span class="glyphicon glyphicon-lock blueGoldBorder f30"></span><hr class="hrp">Utilize resources for locating prospective employers.</div><br class="visible-xs" />
                <div class="col-md-2 centeralign"><span class="glyphicon glyphicon-book blueGoldBorder f30"></span><hr class="hrp">Analyze employment benefits and career advancement opportunities.</div><br class="visible-xs" />
                <div class="col-md-2 centeralign"><span class="glyphicon glyphicon-thumbs-up blueGoldBorder f30"></span><hr class="hrp">Follow up post employment to ensure success .</div>
            </div>

        </p>

    </div>
</div>


    <script>
        $(document).ready(function () {
            $('.promoWrapper').parent().removeClass("container").removeClass("body-content");
            $('video, audio').mediaelementplayer({
                videoWidth: '100%',
                videoHeight: '100%'
            });

            var $vid = $('video');
            var $applyButton = $('#applyOnline');
            var $findProgramsButton = $('#findPrograms');
            var $header = $('.promoHeader');

            $applyButton.css({
                top: ($vid.height() / 3) + 50,
                left: ($vid.width() / 2) - ($applyButton.width() / 2) - 100
            });

            $findProgramsButton.css({
                top: ($vid.height() / 3) + 50,
                left: ($vid.width() / 2) - ($findProgramsButton.width() / 2) + 100
            });

            $header.css({
                top: $vid.height() / 3,
                left: ($vid.width() / 2) - ($header.width() / 2)
            });

            $('.socialMobileLink').click(function (e) {
                var content = $('.mobile-content.' + $(this).attr("id"));

                if (content.hasClass("hidden-xs")) {
                    content.removeClass("hidden-xs");
                } else {
                    content.addClass("hidden-xs");
                }

                e.preventDefault();
            });

            $('#allPrograms').click(function () {
                window.location = "/programs/allprograms";
            });

            $('#applyOnline').click(function () {
                $('.popup-form-wrapper').hide();
                $('#applyNowWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#requestCatalogue').click(function () {
                $('.popup-form-wrapper').hide();
                $('#requestCatalogueWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#askQuestionMain, #askQuestion').click(function () {
                $('.popup-form-wrapper').hide();
                $('#askQuestionWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#tourCampus').click(function () {
                $('.popup-form-wrapper').hide();
                $('#tourCampusWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#apply').click(function () {
                $('.popup-form-wrapper').hide();
                $('#applyNowWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('.newsListItem').click(function () {
                window.location = "/Home/NewsArticle?id=" + $(this).attr("id");
            });

            $('.videoScrollerNav.next').click(function () {
                var current = $(this).parent().parent().next(".video").children(".videoIFrame.active");
                var next = current.next(".videoIFrame");

                current.removeClass("active");

                if (next.length > 0) {
                    next.addClass("active");
                } else {
                    var last = $(this).parent().parent().next(".video").children(".videoIFrame").last();

                    last.addClass("active");
                }
            });

            $('.videoScrollerNav.prev').click(function () {
                var current = $(this).parent().parent().next(".video").children(".videoIFrame.active");
                var prev = current.prev(".videoIFrame");

                current.removeClass("active");

                if (prev.length > 0) {
                    prev.addClass("active");
                } else {
                    var first = $(this).parent().parent().next(".video").children(".videoIFrame").first();

                    first.addClass("active");
                }
            });
        });

        $(window).load(function () {
            $(".rslides").responsiveSlides();

            $("#graduatesImageScroller").flexisel({
                autoPlay: false,
                visibleItems: 5
            });
        });
    </script>
