@{
    ViewBag.Title = "";
}

<div class="hidden-xs">
    <ul class="rslides">

        <li>
            <img src="~/Content/images/heroBanner/banner-welding-2.jpg" alt="welder using his machine to weld a device" />
            <div class="container" style="position:relative;">
                <p class="caption2 captionChar">
                    GET HANDS-ON TRAINING
                </p>
            </div>
        </li>


        <li>
            <img src="~/Content/images/heroBanner/banner-homereno-1.jpg" alt="Home Reno worker cutting wood"/>
            <div class="container" style="position:relative;">
                <p class="caption2 captionChar">
                    BEGIN A CAREER IN THE SKILLED TRADES
                </p>
            </div>
        </li>



        <li>
            <img src="~/Content/images/heroBanner/solar-program.jpg" alt="solar energy technician working on a roof"/>
            <div class="container" style="position:relative; ">
                <p class="caption2 captionChar">
                    @Html.ActionLink("LEARN ABOUT OUR SOLAR TECHNICIAN PROGRAM", "SolarEnergyTechnician", "Programs") <span class="glyphicon glyphicon-forward f25"></span>
                </p>
            </div>
        </li>

        <li>
            <img src="~/Content/images/heroBanner/banner-electrical-maintenance-1.jpg" alt="maintenance worker on a machine"/>
            <div class="container" style="position:relative;">
                <p class="caption2 captionChar">
                    INDUSTRY RECOGNIZED PROGRAMS
                </p>
            </div>
        </li>


        <li>
            <img src="~/Content/images/nats-nhit-new.jpg" alt="New Horizons Computer Learning joins Career College Group."/>
            <div class="container" style="position:relative; ">
                <p class="caption2 captionChar">
                    <a href="javascript: void(0)" onclick="popup('http://www.nhtorontocanada.com')">LEARN MORE ABOUT NEW HORIZONS</a>
                </p>
            </div>
        </li>

    </ul>
</div>

<br class="visible-xs" />

<div class="videoWrapperProgram visible-xs visible-sm">
    <iframe width="560"
            height="315" src="https://www.youtube.com/embed/l9dR97qTGlE" frameborder="0"
            allowfullscreen></iframe>
</div>



<br />
<div class="container-fluid containerlinkOptionsWrapper spacer-top">
    <div class="container">
        <h1 class="contentPageH1">
            LEARN MORE ABOUT NORTH AMERICAN TRADE SCHOOLS:
        </h1>
        <hr class="hrpblue2" />


        <div class="linkOptionsWrapper">
            <div class="linkOptions allPrograms visible-sm visible-xs linkOptionsRC" id="allPrograms">
                <i class="fa fa-search goldColour"></i>
                <label class="contentH3-white">FIND PROGRAMS</label>
            </div>
            <div class="linkOptions linkOptionsRC home col-md-3 hidden-xs" id="requestCatalogue">
                <i class="fa fa-book blueColour"></i>
                <label class="contentH3-red">REQUEST CATALOGUE</label>
            </div>
            <div class="linkOptions linkOptionsAQ home col-md-3 hidden-xs" id="askQuestion">
                <i class="fa fa-comment blueColour"></i>
                <label class="contentH3-red">ASK A QUESTION</label>
            </div>
            <div class="linkOptions linkOptionsTC home col-md-3 hidden-xs" id="tourCampus">
                <i class="fa fa-home blueColour"></i>
                <label class="contentH3-red">TOUR A CAMPUS</label>
            </div>
            <div class="linkOptions linkOptionsAN home col-md-3 hidden-xs" id="apply">
                <i class="fa fa-bookmark blueColour"></i>
                <label class="contentH3-red">APPLY NOW</label>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="panel-body hidden-lg hidden-md hidden-sm">
    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <h1 class="contentH1whitemain text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpw3" />
            <div class="row formWrapper overquestionsForm2">
                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Location: <span class="text-danger" required="">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center contentpw">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




<div class="container-fluid containervideoItem">
    <div class="container">
        <div>
            <h3 class="contentH1-mainW2c">
                WHAT SETS OUR EDUCATION APART: THE STUDENT EXPERIENCE
                <hr class="hrpw3" />
            </h3>

        </div>

        <div class="videoWrapper">
            <div class="col-md-6 wrapper">
                <div class="videoItem1">
                    <div>
                        <h2 class="contentH2-white">
                            STUDENT REVIEWS
                            <span class="pull-right">
                                <i class="fa fa-caret-left videoScrollerNav prev"></i>
                                <i class="fa fa-caret-right videoScrollerNav next"></i>
                            </span>
                        </h2>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/ejiRyycN0LQ?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/Jbg_4OWd8l0?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/-j2h4QvSOGw?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/EfmtavHgPeE?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/Rq4fy32-qzs?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wrapper">
                <div class="videoItem2">
                    <div>
                        <h2 class="contentH2-white">
                            NATS VIDEOS
                            <span class="pull-right">
                                <i class="fa fa-caret-left videoScrollerNav prev"></i>
                                <i class="fa fa-caret-right videoScrollerNav next"></i>
                            </span>
                        </h2>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/1QVGJoGEdDQ?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/xsE0nvHUmnM?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/euIFX2WxBj4?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/1DxUw0oqp6I?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="socialWrapper">
        <div class="col-md-4 facebook">
            <h2 class="contentH2-white-graybg contentPageH1">FACEBOOK <a href="#" id="facebook" class="socialMobileLink"><span class="glyphicon glyphicon-fullscreen mobile-icon pull-right visible-xs"></span></a></h2>
            <div class="mobile-content facebook hidden-xs">
                <div class="fb-page" data-href="https://www.facebook.com/NATSLondon" data-small-header="true" data-width="500" data-height="400" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/NATSLondon"><a href="https://www.facebook.com/NATSLondon">North American Trade Schools</a></blockquote></div></div>
            </div>
        </div>

        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="insidetwitter">
            <div class="col-md-4 twitter">
                <h2 class="contentH2-white-graybg contentPageH1">NATS HIRES <a href="#" id="twitter" class="socialMobileLink"><span class="glyphicon glyphicon-fullscreen mobile-icon pull-right visible-xs"></span></a></h2>
                <div class="mobile-content twitter hidden-xs">
                    <a class="twitter-timeline" href="https://twitter.com/nats_hired" data-widget-id="606109159906529281">Tweets by nats_hired</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>

        <div class="col-md-4 newsUpdates">
            <h2 class="contentH2-white-graybg contentPageH1">NEWS UPDATES<a href="#" id="newsUpdates" class="socialMobileLink"> <span class="glyphicon glyphicon-fullscreen mobile-icon pull-right visible-xs"></span></a></h2>
            <div class="mobile-content newsUpdates hidden-xs">
                <ul class="list-unstyled newsList">
                    @foreach (MedixCollege.Models.NewsArticleDTO article in ViewBag.NewsArticles)
                    {
                        <li class="newsListItem contentp whiteBG-GrayStroke" id="@article.Id">

                            <table>
                                <tr>
                                    <td valign="top"><span class="glyphicon glyphicon-comment spacer-right mBlueColour f30"></span></td>
                                    <td>
                                        <div class="contentH3-blue newsTable">@article.Title</div>
                                        <div class="date newsTable">@article.Date.ToString("MMMM d, yyyy")</div>
                                    </td>
                                </tr>
                            </table>




                        </li>

                    }
                </ul>
            </div>
            <hr />
            <div class="pull-right link-unstyled">
                @Html.ActionLink("More News", "NewsDirectory", "Home")
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<br />
<div class="container-fluid">
    <div class="container">
        <br />
        <h1 class="contentPageH1">
            OUR GRADUATES GET HIRED:
        </h1>
        <hr class="hrpblue2" />

        <img src="/Content/images/natsHIREDCO.jpg" class="img-responsive" alt="the logos of companies that have hired NATS graduates" />



        

        <div class="clearfix"></div>
    </div>
</div>







<br />


<div class="container-fluid containervideoItem2">
    <div class="container">
        <div class="videoWrapper">
            <div class="col-md-6">
                <div class="videoItem3">
                    <div>
                        <h3 class="contentH1-mainW">
                            ENRICHED ACADEMY
                        </h3>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/PAc4EMfu0Rk?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-md-6 wrapper">
                <div class="videoItem3">
                    <div>
                        <h3 class="contentH1-mainW">
                            WHY ENRICHED ACADEMY IS IMPORTANT FOR STUDENTS
                        </h3>
                        <h2 class="contentH3-white">
                            Learning about personal financial is a critical life skill that people do not normally have access to in traditional educational settings.
                            North American Trade Schools has teamed up with Dragon's Den alumni EnRiched Academy to offer students the necessary skills to ensure financial stability after their educational career is completed.
                            <br /><br />EnRiched Academy ensures that students are aware of their financial position and enables them to make educated choices regarding their income.
                            Graduates of the North American Trade Schools' diploma programs will gain not only the knowledge and skills in their course of study, but also the foundation to ensure that their financial decisions in the future will be made with confidence.
                            <br /><br />EnRiched Academy will cover a number of main topics including: <br />
                            <ul>
                                <li>Savings</li>
                                <li>Investing</li>
                                <li>Credit</li>
                                <li>Personal Branding</li>
                                <li>Sales</li>
                            </ul>
                        </h2>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>






<script>
    $(document).ready(function () {
        $('.promoWrapper').parent().removeClass("container").removeClass("body-content");
        $('video, audio').mediaelementplayer({
            videoWidth: '100%',
            videoHeight: '100%'
        });

        var $vid = $('video');
        var $applyButton = $('#applyOnline');
        var $findProgramsButton = $('#findPrograms');
        var $header = $('.promoHeader');

        $applyButton.css({
            top: ($vid.height() / 3) + 50,
            left: ($vid.width() / 2) - ($applyButton.width() / 2) - 100
        });

        $findProgramsButton.css({
            top: ($vid.height() / 3) + 50,
            left: ($vid.width() / 2) - ($findProgramsButton.width() / 2) + 100
        });

        $header.css({
            top: $vid.height() / 3,
            left: ($vid.width() / 2) - ($header.width() / 2)
        });

        $('.socialMobileLink').click(function (e) {
            var content = $('.mobile-content.' + $(this).attr("id"));

            if (content.hasClass("hidden-xs")) {
                content.removeClass("hidden-xs");
            } else {
                content.addClass("hidden-xs");
            }

            e.preventDefault();
        });

        $('#allPrograms').click(function () {
            window.location = "/programs/allprograms";
        });

        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestionMain, #askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#tourCampus').click(function () {
            $('.popup-form-wrapper').hide();
            $('#tourCampusWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#apply').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('.newsListItem').click(function () {
            window.location = "/Home/NewsArticle?id=" + $(this).attr("id");
        });

        $('.videoScrollerNav.next').click(function () {
            var current = $(this).parent().parent().parent().next(".video").children(".videoIFrame.active");
            var next = current.next(".videoIFrame");

            current.removeClass("active");

            if (next.length > 0) {
                next.addClass("active");
            } else {
                var last = $(this).parent().parent().parent().next(".video").children(".videoIFrame").last();

                last.addClass("active");
            }
        });

        $('.videoScrollerNav.prev').click(function () {
            var current = $(this).parent().parent().parent().next(".video").children(".videoIFrame.active");
            var prev = current.prev(".videoIFrame");

            current.removeClass("active");

            if (prev.length > 0) {
                prev.addClass("active");
            } else {
                var first = $(this).parent().parent().parent().next(".video").children(".videoIFrame").first();

                first.addClass("active");
            }
        });
    });

    $(window).load(function () {
        $(".rslides").responsiveSlides({
            pagination: true,
            nav: true,
            fade: 500
        });

        $("#graduatesImageScroller").flexisel({
            autoPlay: false,
            visibleItems: 5
        });
    });
</script>
