@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Programs at Medix College";
    ViewBag.PageDescription = "Learn more about the Programs available at Medix College.";
}
<br />
<div class="container">
    <div class="heroWrapper">
        @ViewBag.HeroText
    </div>
    <div class="leftMenuWrapper col-sm-3 custom-collapse">
        <button class="btn-brand-white collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-programs">
            <span class=""><span class="glyphicon glyphicon-align-justify"></span></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="leftMenu list-unstyled collapse" id="side-menu-programs">
            <li class="item item header">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("All Programs", "AllPrograms", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Welding", "Welding", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Cabinetmaking", "Cabinetmaking", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Construction & Maintenance Electrician", "ConstructionAndMaintenanceElectrician", "Programs")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</li>
            <br />
            <li class="item btn btn-brand btn-block" id="askQuestion">Ask a Question</li>
            <li class="item btn btn-brand btn-block" id="requestCatalogue">Request Catalogue</li>
            <br />
        </ul>

        <br />
    </div>

    <div class="col-sm-9 pull-right">
        <div class="contentBody">
            <div class="row bodyHeaderWrapper">
                @ViewBag.BodyHeaderText
            </div>
            <div class="row">
                <div class="col-sm-8 mid-padding">
                    @RenderBody()
                </div>

                <div class="col-sm-4">
                    <div class="row formWrapper overquestionsForm">
                        <br />
                        <h1 class="contentH1 text-center">
                            <span class="glyphicon glyphicon-comment blueGoldBorder"></span>&nbsp; Ask a Question
                        </h1>
                        <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                            <input type="hidden" name="ORGID" value="240" />
                            <input type="hidden" name="MailListID" value="240001" />
                            <div class="input-group spacer-top">
                                <label class="pull-left">First Name: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control pull-right" name="FirstName">
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left">Email: <span class="text-danger">*</span></label>
                                <input type="email" class="form-control pull-right" name="Email">
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left">Location: <span class="text-danger">*</span></label>
                                <select class="form-control pull-right" name="CampusID">
                                    <option value="0">Select</option>
                                    <option value="24004">Brampton-NATS</option>
                                    <option value="24001">London-NATS</option>
                                    <option value="240">Toronto</option>
                                </select>
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left">Program: <span class="text-danger">*</span></label>
                                <select class="form-control pull-right" name="ProgramID">
                                    <option class="0 24004 24001 240" value="0">Select</option>
                                    <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                    <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                    <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                    <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                    <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                    <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                    <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                    <option class="0 24004 24001" value="39063">Welding Technology</option>
                                </select>
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left">Comments: </label>
                                <textarea class="form-control pull-right" name="Comment2"></textarea>
                            </div>
                            <div class="small-text spacer-top text-center grayColor">
                                Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                            </div>
                            <div class="text-center">
                                <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
    <br />
    <div class="clearfix"></div>

</div>

<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>
