@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<h1 class="contentPageH1">ALL PROGRAMS</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active contentp">All Programs</li>
</ol>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <p class="contentp">
                North American Trade Schools provides training in skilled trades programs preparing students for ever growing trades

                industry in Canada. The objective of the trades training program is to equip the students with the

                most current theory and practical training necessary to become successful health care professional. The

                curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material

                versus memorization of the material, and secondly, allowing the students to process information

                through practical experience.

                <br /><br />
                Practical experience is provided to our students through laboratories and

                an opportunity to shadow experienced workers in the field.  Professional trades training helps

                NATS students to secure employment in various prestigious trades organizations across Ontario.
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder f20"></span> &nbsp;  SEARCH BY PROGRAMS<span class="glyphicon glyphicon-chevron-down blueGoldBorder f20 pull-right"></span>

                    </a>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th width="50%" class="contentH3-blue">@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</th>
                            <td width="50%">
                                Brampton<br />
                                London
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Welding", "Welding", "Programs")</th>
                            <td>
                                Brampton<br />
                                London
                            </td>
                        </tr>

                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</th>
                            <td>
                                Brampton<br />
                                London
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Cabinetmaking", "Cabinetmaking", "Programs")</th>
                            <td>
                                London
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</th>
                            <td>
                                Brampton<br />
                                London
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</th>
                            <td>
                                Brampton<br />
                                London
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</th>
                            <td>
                                Brampton<br />
                                London
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Construction & Maintenance Electrician", "ConstructionAndMaintenanceElectrician", "Programs")</th>
                            <td>
                                Brampton
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</th>
                            <td>
                                Brampton<br />
                                London
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-map-marker blueGoldBorder f20"></span> &nbsp; SEARCH BY CAMPUS <span class="glyphicon glyphicon-chevron-down blueGoldBorder f20 pull-right"></span>
                    </a>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered">


                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Brampton", "Brampton", "Campuses")</th>
                            <td>

                                <p class="contentH3-blue">@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Welding", "Welding", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Construction & Maintenance Electrician", "ConstructionAndMaintenanceElectrician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</p>


                            </td>
                        </tr>

                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("London", "London", "Campuses")</th>
                            <td>

                                <p class="contentH3-blue">@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Welding", "Welding", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Cabinetmaking", "Cabinetmaking", "Programs")</li>
                                <p class="contentH3-blue">@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</p>
                                <p class="contentH3-blue">@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</p>


                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="col-sm-4 pull-right no-padding">

    <div class="panel panel-default bluePANEL2">

        <div class="panel-body">
            <h1 class="contentH1whitemain text-center">
                <span class="glyphicon glyphicon-comment 1blueGoldBorder"></span>&nbsp; Ask a Question
            </h1><hr class="hrpw3" />
            <div class="row formWrapper overquestionsForm2">
                <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" data-parsley-validate="" class="questionsForm" method="post" action="/home/askquestion">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Telephone: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="Telephone" required="">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Location: <span class="text-danger" required="">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="24004">Brampton-NATS</option>
                            <option value="24001">London-NATS</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option class="0 24004 24001 240" value="0">Select</option>
                            <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                            <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                            <option class="0 24004 24001" value="39061">Electrical Technology</option>
                            <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                            <option class="0 24004 24001" value="39062">HVAC Technician</option>
                            <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                            <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                            <option class="0 24004 24001" value="39063">Welding Technology</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentpw">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center contentpw">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>





    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for North American Trade Schools is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about North American Trade Schools.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        Students looking to start training at North American Trade Schools have a number of options to finance their education. By exploring these options,

                        students will be able to gain financial assistance and support as they are training for a career. Some

                        financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                    <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p>
                </div>
            </div>
        </div>
    </div>


</div>




<script>
        $(document).ready(function () {
            $('#applyOnline').click(function () {
                $('.popup-form-wrapper').hide();
                $('#applyNowWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#requestCatalogue').click(function () {
                $('.popup-form-wrapper').hide();
                $('#requestCatalogueWrapper').show();
                $('.form-overlay').slideDown()
            });

            $('#askQuestion').click(function () {
                $('.popup-form-wrapper').hide();
                $('#askQuestionWrapper').show();
                $('.form-overlay').slideDown()
            });
        });
</script>


