@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="heroWrapper">
        @ViewBag.HeroText
    </div>
    <div class="leftMenuWrapper col-sm-3 custom-collapse">
        <button class="btn-brand-white collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-discover">
            <span class=""><span class="glyphicon glyphicon-align-justify"></span></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="leftMenu list-unstyled collapse" id="side-menu-discover">
            <li class="item header">@Html.ActionLink("Discover NATS", "Index", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("About NATS", "Index", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("President's Message", "PresidentsMessage", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("History", "History", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Mission", "Mission", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Accreditation", "Accreditation", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Associations", "Associations", "DiscoverNATS")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Careers at NATS", "CareersAtNATS", "DiscoverNATS")</li>
            <br />
            <li class="item btn btn-brand btn-block spacer-top" id="askQuestion">Ask a Question</li>
            <li class="item btn btn-brand btn-block" id="requestCatalogue">Request Catalogue</li>
        </ul>
        <br />
    </div>
    <div class="col-sm-9 pull-right">
        <div class="contentBody">
            <div class="row bodyHeaderWrapper">
                @ViewBag.BodyHeaderText
            </div>
            <div class="row">
                <div class="col-sm-8 mid-padding">
                    @RenderBody()
                </div>

                <div class="col-sm-4">
                    <div class="row formWrapper overquestionsForm">
                        <br />
                        <h1 class="contentH1 text-center">
                            <span class="glyphicon glyphicon-comment blueGoldBorder"></span>&nbsp; Ask a Question
                        </h1>
                        <form id="discoverMedixQuestionsForm" name="discoverMedixQuestionsForm" class="questionsForm" method="post" action="/home/askquestion">
                            <input type="hidden" name="ORGID" value="240" />
                            <input type="hidden" name="MailListID" value="240001" />
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control pull-right" name="FirstName">
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                                <input type="email" class="form-control pull-right" name="Email">
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                                <select class="form-control pull-right" name="CampusID">
                                    <option value="0">Select</option>
                                    <option value="24004">Brampton-NATS</option>
                                    <option value="24001">London-NATS</option>
                                    <option value="240">Toronto</option>
                                </select>
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                                <select class="form-control pull-right" name="ProgramID">
                                    <option class="0 24004 24001 240" value="0">Select</option>
                                    <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                    <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                    <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                    <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                    <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                    <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                    <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                    <option class="0 24004 24001" value="39063">Welding Technology</option>
                                </select>
                            </div>
                            <div class="input-group spacer-top">
                                <label class="pull-left contentp">Comments: </label>
                                <textarea class="form-control pull-right" name="Comment2"></textarea>
                            </div>
                            <div class="small-text spacer-top text-center grayColor contentp">
                                Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                            </div>
                            <div class="text-center">
                                <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
</div>
<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>
