<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.PageDescription" />

    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/0dadfbd7-4931-4174-ae59-acc837e29491.css" />

    <title>Trades College - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function popup(url) {
            params = 'width=' + screen.width;
            params += ', height=' + screen.height;
            params += ', top=0, left=0'
            params += ', fullscreen=yes';

            newwin = window.open(url, 'Medix Store', params);
            if (window.focus) { newwin.focus() }
            return false;
        }
    </script>
</head>
<body>

    <header>
        <div class="container">
            <div class="col-sm-4">
                @*@if (ViewBag.MedixOnline != null && ViewBag.MedixOnline)
                    {
                        <a href="/home"><img src="~/Content/images/MedixOnlineLogo.png" class="mainLogo img-responsive" alt="Medix College Online Logo" /></a>
                    }
                    else
                    {
                        <a href="/home"><img src="~/Content/images/medixCollegeHeader.gif" class="mainLogo img-responsive" alt="Medix College Logo" /></a>
                    }*@
                <a href="/home"><img src="~/Content/images/NATSLogo.png" class="mainLogo img-responsive" alt="Trades College Logo" /></a>
            </div>
            <div class="col-sm-8">
                <div class="pull-right"><span class="blueColor"><span class="glyphicon glyphicon-earphone"></span></span> <span class="blueColor">1(866) 962-7685</span></div>
                <div class="clearfix"></div>
                <div>
                    <gcse:search></gcse:search>
                </div>
                <div class="clearfix"></div>
                <div class="pull-right socialMediaList">
                    <a href="https://www.facebook.com/MedixCollege?ref=hl"><span class="socicon mBlueColour f30">b</span></a>&nbsp;&nbsp;
                    <a href="https://plus.google.com/+MedixcollegeCa/posts"><span class="socicon mBlueColour f30">c</span></a>&nbsp;&nbsp;
                    <a href="https://www.youtube.com/user/medixcollegelondon"><span class="socicon mBlueColour f30">r</span></a>&nbsp;&nbsp;
                    <a href="https://twitter.com/medix_college"><span class="socicon mBlueColour f30">a</span></a>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-header mainNav">
                <button type="button" class="navbar-toggle pull-left hamburger-icon" data-toggle="collapse" data-target=".navbar-collapse.mobile">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse mobile">
                <ul class="nav navbar-nav pull-left visible-xs">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HOME <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("News Directory", "NewsDirectory", "Home")</li>
                            <li>@Html.ActionLink("Course Start Dates", "CourseStartDates", "Home")</li>
                            <li>@Html.ActionLink("Referral Program", "ReferralProgram", "Home")</li>
                            <li>@Html.ActionLink("Hire a Grad", "HireAGrad", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">DISCOVER NATS <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Discover NATS Home", "Index", "DiscoverNATS")</li>
                            <li>@Html.ActionLink("President's Message", "PresidentsMessage", "DiscoverNATS")</li>
                            <li>@Html.ActionLink("History", "History", "DiscoverNATS")</li>
                            <li>@Html.ActionLink("Mission", "Mission", "DiscoverNATS")</li>
                            <li>@Html.ActionLink("Accreditation", "Accreditation", "DiscoverNATS")</li>
                            <li>@Html.ActionLink("Associations", "Associations", "DiscoverNATS")</li>
                            <li>@Html.ActionLink("Careers at NATS", "CareersAtNATS", "DiscoverNATS")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PROGRAMS <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("All Programs", "AllPrograms", "Programs")</li>
                            <li>@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</li>
                            <li>@Html.ActionLink("Welding", "Welding", "Programs")</li>
                            <li>@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</li>
                            <li>@Html.ActionLink("Cabinetmaking", "Cabinetmaking", "Programs")</li>
                            <li>@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</li>
                            <li>@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</li>
                            <li>@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</li>
                            <li>@Html.ActionLink("Construction & Maintenance Electrician", "ConstructionAndMaintenanceElectrician", "Programs")</li>
                            <li>@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">TRAINING <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("All Workshops", "AllWorkshops", "Training")</li>
                            <li>@Html.ActionLink("Corporate Training", "CorporateTraining", "Training")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ADMISSIONS <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Admissions Home", "Index", "Admissions")</li>
                            <li>@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
                            <li>@Html.ActionLink("OSAP", "OSAP", "Admissions")</li>
                            <li>@Html.ActionLink("Second Career", "SecondCareer", "Admissions")</li>
                            <li>@Html.ActionLink("Out of Province Options", "OutOfProvinceStudents", "Admissions")</li>
                            <li>@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</li>
                            <li>@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</li>
                            <li>@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</li>
                            <li>@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</li>
                            <li>@Html.ActionLink("Monthly Payment Plan", "MonthlyPaymentPlan", "Admissions")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CAREER SERVICES <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Career Services Home", "Index", "CareerServices")</li>
                            <li>@Html.ActionLink("Medix Advantage", "MedixAdvantage", "CareerServices")</li>
                            <li>@Html.ActionLink("Job Search Tips", "JobSearchTips", "CareerServices")</li>
                            <li>@Html.ActionLink("Resume Tips", "ResumeTips", "CareerServices")</li>
                            <li>@Html.ActionLink("Interview Tips", "InterviewTips", "CareerServices")</li>
                            <li>@Html.ActionLink("Professional Tips", "ProfessionalTips", "CareerServices")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CAMPUSES <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Brampton", "Brampton", "Campuses")</li>
                            <li>@Html.ActionLink("London", "London", "Campuses")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Request Info", "Index", "Home")</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse mainNav">
                <div class="container hidden-xs">
                    <ul class="nav navbar-nav full-width">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HOME <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("News Directory", "NewsDirectory", "Home")</li>
                                <li>@Html.ActionLink("Course Start Dates", "CourseStartDates", "Home")</li>
                                <li>@Html.ActionLink("Referral Program", "ReferralProgram", "Home")</li>
                                <li>@Html.ActionLink("Hire a Grad", "HireAGrad", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">DISCOVER NATS <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Discover NATS Home", "Index", "DiscoverNATS")</li>
                                <li>@Html.ActionLink("President's Message", "PresidentsMessage", "DiscoverNATS")</li>
                                <li>@Html.ActionLink("History", "History", "DiscoverNATS")</li>
                                <li>@Html.ActionLink("Mission", "Mission", "DiscoverNATS")</li>
                                <li>@Html.ActionLink("Accreditation", "Accreditation", "DiscoverNATS")</li>
                                <li>@Html.ActionLink("Associations", "Associations", "DiscoverNATS")</li>
                                <li>@Html.ActionLink("Careers at NATS", "CareersAtNATS", "DiscoverNATS")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PROGRAMS <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("All Programs", "AllPrograms", "Programs")</li>
                                <li>@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</li>
                                <li>@Html.ActionLink("Welding", "Welding", "Programs")</li>
                                <li>@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</li>
                                <li>@Html.ActionLink("Cabinetmaking", "Cabinetmaking", "Programs")</li>
                                <li>@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</li>
                                <li>@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</li>
                                <li>@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</li>
                                <li>@Html.ActionLink("Construction & Maintenance Electrician", "ConstructionAndMaintenanceElectrician", "Programs")</li>
                                <li>@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">TRAINING <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("All Workshops", "AllWorkshops", "Training")</li>
                                <li>@Html.ActionLink("Corporate Training", "CorporateTraining", "Training")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ADMISSIONS <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Admissions Home", "Index", "Admissions")</li>
                                <li>@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
                                <li>@Html.ActionLink("OSAP", "OSAP", "Admissions")</li>
                                <li>@Html.ActionLink("Second Career", "SecondCareer", "Admissions")</li>
                                <li>@Html.ActionLink("Out of Province Options", "OutOfProvinceStudents", "Admissions")</li>
                                <li>@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</li>
                                <li>@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</li>
                                <li>@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</li>
                                <li>@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</li>
                                <li>@Html.ActionLink("Monthly Payment Plan", "MonthlyPaymentPlan", "Admissions")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CAREER SERVICES <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Career Services Home", "Index", "CareerServices")</li>
                                <li>@Html.ActionLink("Medix Advantage", "MedixAdvantage", "CareerServices")</li>
                                <li>@Html.ActionLink("Job Search Tips", "JobSearchTips", "CareerServices")</li>
                                <li>@Html.ActionLink("Resume Tips", "ResumeTips", "CareerServices")</li>
                                <li>@Html.ActionLink("Interview Tips", "InterviewTips", "CareerServices")</li>
                                <li>@Html.ActionLink("Professional Tips", "ProfessionalTips", "CareerServices")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CAMPUSES <span class="glyphicon glyphicon-triangle-bottom GLPsize goldColour"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Brampton", "Brampton", "Campuses")</li>
                                <li>@Html.ActionLink("London", "London", "Campuses")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <div class="form-overlay">
        <div class="container">
            <span class="close form-overlay-close"><i class="fa fa-close"></i></span>
            <div id="applyNowWrapper" class="popup-form-wrapper">
                <div class="spacer-top text-center">
                    <label class="popup-form-header">APPLY NOW</label>
                </div>
                <div class="popup-form col-lg-6 col-lg-offset-3">
                    <form id="applyNowForm" name="applyNowForm" method="post" action="/home/applynow">
                        <input type="hidden" name="ORGID" value="240" />
                        <input type="hidden" name="MailListID" value="240001" />
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formfirstname">First Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="FirstName" id="formfirstname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formemail">Email: <span class="text-danger">*</span></label>
                            <input type="email" class="form-control pull-right" name="Email" for="formemail" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlocation">Location: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="CampusID" id="applyNowCampusList">
                                <option value="0">Select</option>
                                <option value="24004">Brampton-NATS</option>
                                <option value="24001">London-NATS</option>
                                <option value="240">Toronto</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">Program: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="ProgramID" id="applyNowProgramList">
                                <option class="0 24004 24001 240" value="0">Select</option>
                                <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                <option class="0 24004 24001" value="39063">Welding Technology</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">How did you hear about us?: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="MediaGroupID">
                                <option value="0">Select</option>
                                <option value="91063">HIGH SCHOOL</option>
                                <option value="90080">INTERNET</option>
                                <option value="90081">NEWSPAPER</option>
                                <option value="91092">OUTREACH</option>
                                <option value="90213">RADIO</option>
                                <option value="90083">REFERRAL</option>
                                <option value="91044">SIGNS</option>
                                <option value="91241">SUBWAY</option>
                                <option value="90082">TELEVISION</option>
                                <option value="90825">TRADE SHOWS</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtexta">Comments: </label>
                            <textarea class="form-control pull-right" name="Comment2" id="formtexta"></textarea>
                        </div>
                        <div class="small-text spacer-top text-center">
                            <p class="contentp-white">Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.</p>
                        </div>
                        <div class="text-center">
                            <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="requestCatalogueWrapper" class="popup-form-wrapper">
                <div class="spacer-top text-center">
                    <label class="popup-form-header">Request Catalogue</label>
                </div>
                <div class="popup-form col-lg-6 col-lg-offset-3">
                    <form id="requestCatalogueForm" name="requestCatalogueForm" method="post" action="/home/requestcatalogue">
                        <input type="hidden" name="ORGID" value="240" />
                        <input type="hidden" name="MailListID" value="240001" />
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formfirstname">First Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="FirstName" id="formfirstname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formemail">Email: <span class="text-danger">*</span></label>
                            <input type="email" class="form-control pull-right" name="Email" for="formemail" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlocation">Location: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="CampusID" id="requestCatalogueCampusList">
                                <option value="0">Select</option>
                                <option value="24004">Brampton-NATS</option>
                                <option value="24001">London-NATS</option>
                                <option value="240">Toronto</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">Program: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="ProgramID" id="requestCatalogueProgramList">
                                <option class="0 24004 24001 240" value="0">Select</option>
                                <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                <option class="0 24004 24001" value="39063">Welding Technology</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">How did you hear about us?: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="MediaGroupID">
                                <option value="0">Select</option>
                                <option value="91063">HIGH SCHOOL</option>
                                <option value="90080">INTERNET</option>
                                <option value="90081">NEWSPAPER</option>
                                <option value="91092">OUTREACH</option>
                                <option value="90213">RADIO</option>
                                <option value="90083">REFERRAL</option>
                                <option value="91044">SIGNS</option>
                                <option value="91241">SUBWAY</option>
                                <option value="90082">TELEVISION</option>
                                <option value="90825">TRADE SHOWS</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtexta">Comments: </label>
                            <textarea class="form-control pull-right" name="Comment2" id="formtexta"></textarea>
                        </div>
                        <div class="small-text spacer-top text-center">
                            <p class="contentp-white">Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.</p>
                        </div>
                        <div class="text-center">
                            <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="askQuestionWrapper" class="popup-form-wrapper">
                <div class="spacer-top text-center">
                    <label class="popup-form-header">Ask a Question</label>
                </div>
                <div class="popup-form col-lg-6 col-lg-offset-3">
                    <form id="askQuestionForm" name="askQuestionForm" method="post" action="/home/askquestion">
                        <input type="hidden" name="ORGID" value="240" />
                        <input type="hidden" name="MailListID" value="240001" />
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formfirstname">First Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="FirstName" id="formfirstname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formemail">Email: <span class="text-danger">*</span></label>
                            <input type="email" class="form-control pull-right" name="Email" for="formemail" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlocation">Location: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="CampusID" id="askQuestionCampusList">
                                <option value="0">Select</option>
                                <option value="24004">Brampton-NATS</option>
                                <option value="24001">London-NATS</option>
                                <option value="240">Toronto</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">Program: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="ProgramID" id="askQuestionProgramList">
                                <option class="0 24004 24001 240" value="0">Select</option>
                                <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                <option class="0 24004 24001" value="39063">Welding Technology</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtexta">Comments: </label>
                            <textarea class="form-control pull-right" name="Comment2" id="formtexta"></textarea>
                        </div>
                        <div class="small-text spacer-top text-center">
                            <p class="contentp-white">Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.</p>
                        </div>
                        <div class="text-center">
                            <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                        </div>
                    </form>
                </div>
            </div>
            <div id="tourCampusWrapper" class="popup-form-wrapper">
                <div class="spacer-top text-center">
                    <label class="popup-form-header">Tour a Campus</label>
                </div>
                <div class="popup-form col-lg-6 col-lg-offset-3">
                    <form id="tourCampusForm" name="tourCampusForm" method="post" action="/home/tourcampus">
                        <input type="hidden" name="ORGID" value="240" />
                        <input type="hidden" name="MailListID" value="240001" />
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formfirstname">First Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="FirstName" id="formfirstname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                            <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formemail">Email: <span class="text-danger">*</span></label>
                            <input type="email" class="form-control pull-right" name="Email" for="formemail" />
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formlocation">Location: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="CampusID" id="tourCampusCampusList">
                                <option value="0">Select</option>
                                <option value="24004">Brampton-NATS</option>
                                <option value="24001">London-NATS</option>
                                <option value="240">Toronto</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">Program: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="ProgramID" id="tourCampusProgramList">
                                <option class="0 24004 24001 240" value="0">Select</option>
                                <option class="0 24004 24001" value="39064">Cabinetmaking</option>
                                <option class="0 24004" value="40332">Construction Maintenance Electrician Pre-Apprenticeship</option>
                                <option class="0 24004 24001" value="39061">Electrical Technology</option>
                                <option class="0 24004 24001" value="39060">Home Renovation Technician</option>
                                <option class="0 24004 24001" value="39062">HVAC Technician</option>
                                <option class="0 24001" value="40294">Motorcycle & Small Engine Repair</option>
                                <option class="0 24004 24001 240" value="39737">Solar Energy Technician</option>
                                <option class="0 24004 24001" value="39063">Welding Technology</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left">How did you hear about us?: <span class="text-danger">*</span></label>
                            <select class="form-control pull-right" name="MediaGroupID">
                                <option value="0">Select</option>
                                <option value="91063">HIGH SCHOOL</option>
                                <option value="90080">INTERNET</option>
                                <option value="90081">NEWSPAPER</option>
                                <option value="91092">OUTREACH</option>
                                <option value="90213">RADIO</option>
                                <option value="90083">REFERRAL</option>
                                <option value="91044">SIGNS</option>
                                <option value="91241">SUBWAY</option>
                                <option value="90082">TELEVISION</option>
                                <option value="90825">TRADE SHOWS</option>
                            </select>
                        </div>
                        <div class="input-group spacer-top">
                            <label class="pull-left" for="formtexta">Comments: </label>
                            <textarea class="form-control pull-right" name="Comment2" id="formtexta"></textarea>
                        </div>
                        <div class="small-text spacer-top text-center">
                            <p class="contentp-white">Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.</p>
                        </div>
                        <div class="text-center">
                            <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid bottom-nav">
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="contentH3-blue">ABOUT NATS</h2>
                        <p class="contentp">When you choose training from North American Trade Schools, you're making a commitment to excellence.
                            <br /><br />
                            OUR PROGRAMS PROVIDE:<br />
                        <ul>
                        <li>Career preparation so you can be job-ready in less than one year</li>
                        <li>Small class sizes and individual attention</li>
                        <li>Professional instructors with career experience in your chosen field of study</li>
                        <li>Employment preparation and placement assistance is available to all graduates of full-time registered programs</li>
                        <li>Financial Assistance may be available to those who qualify</li>
                        </ul>


                        </p>
                    </div>

                    <div class="col-md-3">
                        <h2 class="contentH3-blue">PROGRAMS</h2>
                        <ul>
                            <li>@Html.ActionLink("All Programs", "AllPrograms", "Programs")</li>
                            <li>@Html.ActionLink("HVAC Technicians", "HVACTechnician", "Programs")</li>
                            <li>@Html.ActionLink("Welding", "Welding", "Programs")</li>
                            <li>@Html.ActionLink("Solar Energy Technician", "SolarEnergyTechnician", "Programs")</li>
                            <li>@Html.ActionLink("Cabinetmaking", "Cabinetmaking", "Programs")</li>
                            <li>@Html.ActionLink("Home Renovation Technician", "HomeRenovationTechnician", "Programs")</li>
                            <li>@Html.ActionLink("Industrial & Commerical Maintenance", "IndustrialAndCommericalMaintenance", "Programs")</li>
                            <li>@Html.ActionLink("Motorcycle & Small Engine Repair", "MotorcycleAndSmallEngineRepair", "Programs")</li>
                            <li>@Html.ActionLink("Construction & Maintenance Electrician", "ConstructionAndMaintenanceElectrician", "Programs")</li>
                            <li>@Html.ActionLink("Electrical Technology", "ElectricalTechnology", "Programs")</li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h2 class="contentH3-blue">BRAMPTON CAMPUS</h2>
                        <p class="contentp">499 Main Street S. Unit 60.<br />
                        Brampton ON<br />
                        L6Y 1N7<br />
                        (905) 487-1163</p>

                        <h2 class="contentH3-blue">LONDON CAMPUS</h2>
                        <p class="contentp">847 Highbury Ave N. Bldg. 4<br />
                        London, ON<br />
                        N5Y 5B8<br />
                        (519) 963-0680</p>
                    </div>



                        <div class="col-md-3">

                      
                        <h2 class="contentH3-blue">QUICK LINKS</h2>
                        <ul>
                            <li>@Html.ActionLink("Site Map", "SiteMap", "Home")</li>
                            <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                            <li>@Html.ActionLink("Accessibility Policy", "AccessibilityPolicy", "Home")</li>
                            <li>@Html.ActionLink("Careers at Medix", "CareersAtMedix", "DiscoverMedix")</li>
                            <li>@Html.ActionLink("Hire a Medix Grad", "HireAMedixGrad", "Home")</li>
                            <li>@Html.ActionLink("Virtual Tours", "VirtualTours", "Home")</li>
                            <li><a href="javascript: void(0)" onclick="popup('http://careercollegegroup.canpromo.com/Products.htm?CD=553')">Online Store</a></li>
                            <li>@Html.ActionLink("Social Media", "SocialMedia", "Home")</li>
                        </ul>
                    </div>
                
            </div>
            <br />
        </div> <!-- /.bottom-nav -->

        <div class="footer-banner">

            <div class="container">
                <img class="center-block" src="~/Content/images/CCGLogo.png" alt="The Career College Group logo." />
            </div>
        </div>
    </footer> <!-- /footer -->

</body>
</html>

<script>
    $(document).ready(function () {
        $('.form-overlay-close').click(function () {
            $('.form-overlay').slideUp(600);
        });

        $('#applyNowCampusList, requestCatalogueCampusList, askQuestionCampusList, tourCampusCampusList').change(function () {
            var campusId = $('#applyNowCampusList option:selected').val();

            $.each($("#applyNowProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#requestCatalogueCampusList').change(function () {
            var campusId = $('#requestCatalogueCampusList option:selected').val();

            $.each($("#requestCatalogueProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#askQuestionCampusList').change(function () {
            var campusId = $('#askQuestionCampusList option:selected').val();

            $.each($("#askQuestionProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });

        $('#tourCampusCampusList').change(function () {
            var campusId = $('#tourCampusCampusList option:selected').val();

            $.each($("#tourCampusProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });


        (function () {
            var cx = '001285344238673767645:v6k9euiazcu';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    });
</script>
