@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Admissions Home - ";
    ViewBag.PageDescription = "Learn more about the Admissions process at Medix College. Learn about the four step process and financial aid options.";

}
<br />
<div class="container">
    <div class="heroWrapper">
        @ViewBag.HeroText
    </div>
    <div class="leftMenuWrapper col-sm-3 custom-collapse">
        <button class="btn-brand-white collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-admissions">
            <span class=""><span class="glyphicon glyphicon-align-justify"></span></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="leftMenu list-unstyled collapse" id="side-menu-admissions">
            <li class="item header">@Html.ActionLink("ADMISSIONS", "Index", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Admissions Home", "Index", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("OSAP", "OSAP", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Second Careers", "SecondCareers", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Out of Province", "OutOfProvinceStudents", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Monthly Payment Plan", "MonthlyPaymentPlan", "Admissions")</li>
     
            <li class="item btn btn-brand btn-block spacer-top" id="askQuestion">Ask a Question</li>
            <li class="item btn btn-brand btn-block" id="requestCatalogue">Request Catalogue</li>
        </ul>

    </div>


    <div class="col-sm-9 pull-right">
        <div class="contentBody">
            <div class="row bodyHeaderWrapper">
                @ViewBag.BodyHeaderText
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <br />
</div>


<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>